<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="DefaultConnection"
             connectionString="Host=206.167.241.233;Username=jdeguire;
								Password=1946725;Database=jdeguire;SearchPath=league_of_legends;"
             providerName="Npgsql" />
    </connectionStrings>
</configuration>